annotations:
  artifacthub.io/repository: kubewarden-policy-library
  catalog.cattle.io/hidden: "true"
  catalog.cattle.io/type: kubewarden-policy
  catalog.cattle.io/ui-component: kubewarden
  kubewarden/contextAwareResources: |
    - apiVersion: v1
      kind: Namespace
  kubewarden/displayName: Namespace label propagator
  kubewarden/mutation: "true"
  kubewarden/registry: ghcr.io
  kubewarden/repository: kubewarden/policies/namespace-label-propagator
  kubewarden/resources: Pod, ReplicationController, Deployment, ReplicaSet, StatefulSet,
    DaemonSet, Job, CronJob
  kubewarden/rules: |
    - apiGroups:
      - ''
      apiVersions:
      - v1
      resources:
      - replicationcontrollers
      - pods
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - apps
      apiVersions:
      - v1
      resources:
      - deployments
      - replicasets
      - statefulsets
      - daemonsets
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - batch
      apiVersions:
      - v1
      resources:
      - jobs
      - cronjobs
      operations:
      - CREATE
      - UPDATE
  kubewarden/tag: v1.0.8
appVersion: 1.0.8
description: Kubewarden policy designed to automatically propagate labels defined
  in a Kubernetes namespace to the associated resources within that namespace
home: https://github.com/kubewarden/policies
keywords:
- policy
- kubewarden
- namespace
- label
name: namespace-label-propagator-policy
sources:
- ghcr.io/kubewarden/policies/namespace-label-propagator:v1.0.8
version: 1.0.8
