annotations:
  artifacthub.io/repository: kubewarden-policy-library
  catalog.cattle.io/hidden: "true"
  catalog.cattle.io/type: kubewarden-policy
  catalog.cattle.io/ui-component: kubewarden
  kubewarden/contextAwareResources: |
    - apiVersion: v1
      kind: Namespace
  kubewarden/displayName: CEL Policy
  kubewarden/mutation: "false"
  kubewarden/registry: ghcr.io
  kubewarden/repository: kubewarden/policies/cel-policy
  kubewarden/resources: Any
  kubewarden/rules: |
    - apiGroups:
      - ''
      apiVersions:
      - v1
      resources:
      - '*'
      operations:
      - CREATE
      - UPDATE
      - DELETE
  kubewarden/tag: v1.5.4
appVersion: 1.5.4
description: A policy that evaluates CEL expressions
home: https://github.com/kubewarden/cel-policy
keywords:
- compliance
- CEL
- ValidatingAdmissionPolicy
- Common Expression Language
name: cel-policy
sources:
- ghcr.io/kubewarden/policies/cel-policy:v1.5.4
version: 1.5.4
