annotations:
  artifacthub.io/repository: image-cve
  catalog.cattle.io/hidden: "true"
  catalog.cattle.io/type: kubewarden-policy
  catalog.cattle.io/ui-component: kubewarden
  kubewarden/contextAwareResources: |
    - apiVersion: storage.sbomscanner.kubewarden.io/v1alpha1
      kind: VulnerabilityReport
  kubewarden/displayName: image-cve
  kubewarden/mutation: "false"
  kubewarden/registry: ghcr.io
  kubewarden/repository: kubewarden/policies/image-cve-policy
  kubewarden/resources: Pod, ReplicaSet, Deployment, DaemonSet, StatefulSet, Job,
    CronJob
  kubewarden/rules: |
    - apiGroups:
      - ''
      apiVersions:
      - v1
      resources:
      - pods
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - ''
      apiVersions:
      - v1
      resources:
      - replicationcontrollers
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - apps
      apiVersions:
      - v1
      resources:
      - deployments
      - replicasets
      - statefulsets
      - daemonsets
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - batch
      apiVersions:
      - v1
      resources:
      - jobs
      - cronjobs
      operations:
      - CREATE
      - UPDATE
  kubewarden/tag: v0.5.3
appVersion: 0.5.3
description: Validate workloads based on the vulnerabilities of the images they make
  use of
home: https://github.com/kubewarden/image-cve-policy
keywords:
- pod
- cool policy
- kubewarden
name: image-cve-policy
sources:
- ghcr.io/kubewarden/policies/image-cve-policy:v0.5.3
version: 0.5.3
